:root{
    --font-primary: 'Work Sans', sans-serif;
    --color-primary: #593735;
}

*{
 padding: 0;
 margin: 0;   
}

/**INDEX**/
body{
    background-color:#f9f5f3 ;
}

header {
    min-width:1000px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

header .redes .redes-icon{
    text-decoration: none;
    font-family: var(--font-primary);
    margin: 5px;
    background-color:#854d49 ;
    padding:5px 10px 5px 10px;
    border-radius: 50px;
    color: #f9f5f3;
    font-size:12px;
    transition: background-color 0.3s ease;
}

header .redes .redes-icon:hover{
    background-color: #cfafa2;
}


header .redes .icon-redes i{
    color: #f9f5f3;
    vertical-align:auto;
}

header .menu a{
    text-decoration: none;
    font-family: "Work Sans", sans-serif;
    font-size: 14px;    
    margin: 5px;
    color:#2f1b1b;
    transition: color 0.3s ease;
}
header  .menu a:hover{
   color: #e3cfc5;
}

.contenedor-inicio{
    display: flex;
}
.contenedor-inicio .portada-inicio {
    flex: 1;
}

.contenedor-inicio .description-inicio {
    flex: 1; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    padding: 20px;
}

.description-inicio .foto {
    max-width: 100%; 
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }

.description-inicio .description {
    font-family: "Work Sans", sans-serif;
}

.description-inicio .description h1{
    font-weight: 300;
    font-size: 35px;
    color:#2f1b1b;
}
.description-inicio .description h2{
    font-weight: 500;
    font-size: 20px;
    color: #593735;
    
}

.description-inicio .description h3{
    font-weight: 300;
    font-size: 15px;
    color: #6e413e;
}


